.main-card {
  border: 1px solid $color-font-yellow;
  width: 90%;
  margin: 3rem auto;
  background: $color-blue-bg;
  h3 {
    border: .5rem solid black;
    padding: 1rem;
    font-size: .5rem;
    margin: 0;
  }
}
.categories-card{
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.cat {
  display: inline-block;
  border: 2px solid black;
  width: 15%;
  margin: 1rem 0;
  li {
    border: .5rem solid black;
    margin: 0;
    padding: 1rem;
  }
}
.list {
  color: $color-font-yellow;
  list-style: none;
  padding: 0;
  margin: 0;
}
