.pardy-main{
  font-family: Helvetica Neue, sans-serif;
  background: $color-darkblue-bg;
  color: $color-font-main;
  text-shadow: 5px 5px black;
}
.hide-content {
  display: none;
}
header{
  text-align: center;
}
